.app {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.timer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.controls-button {
  background-color: transparent;
  border-radius: 18px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(61, 61, 61);
  color: rgb(37, 37, 37);
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  height: 60px;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
  transition-property: background-color, border-color, color;
  vertical-align: middle;
  width: 150px;
}

.numbersContainer {
  background-color: rgba(58, 58, 58, 0.411);
  color: rgb(224, 224, 224);
  font-weight: bold;
  font-size: 100px;
  border-radius: 20px;
  cursor: default;
  text-align: center;
}

.minutesInput {
  background-color: transparent;
  color: rgb(224, 224, 224) !important;
  font-weight: bold;
  font-size: 100px;
  text-align: right;
  width: 140px;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1px;
  margin: 0px;
}

.minutesInput:focus {
  outline: none;
  cursor: text;
}

.mainTaskInput {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(58, 58, 58, 0.411);
  color: rgb(224, 224, 224);
  font-weight: bold;
  font-size: 40px;
  width: 310px;
  border-style: none;
  border-radius: 10px;
  text-align: center;
}

.new-background-button {
  background-color: rgb(150, 45, 248);
  border-radius: 18px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(61, 61, 61);
  color: rgb(37, 37, 37);
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  height: 60px;
  transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
  transition-property: background-color, border-color, color;
  vertical-align: middle;
}
